/* Algemene opmaak */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

/* Labelstijl */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

/* Invoervelden */
input[type="text"],
input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Knopstijl */
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 1.5rem;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Vernieuwingsknopstijl */
#refresh-button {
    background-color: #ccc;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    display: none;
    margin-top: 1.5rem;
}

#refresh-button:hover {
    background-color: #999;
}

/* Resultaatgedeelte */
#resultaat {
    display: none;
    margin-top: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    color: #555;
}